autoflake8
black
click
flake8
galgebra
glfw
imgui
jupyter
jupytext
mathjax
matplotlib
mccabe
mypy-extensions
numpy
packaging
pathspec
platformdirs
pycodestyle
pyflakes
pyMatrixStack
PyOpenGL
removestar
tomli
